---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h2>Home</h2>
  <p>Welcome to my website! Here are some points of contact:</p>
  <ul>
	<li>Discord: <a href="https://discord.com/users/933054659067789363">d1onys1us</a></li>
	<li>GitHub: <a href=https://github.com/d1onys1us>d1onys1us</a></li>
	<li>Twitter: <a href=https://twitter.com/indraynor>indraynor</a></li>
	<li>Warpcast: <a href=https://warpcast.com/arjuna>arjuna</a></li>
  </ul>

  The best way to reach out is on Discord and if you want to communicate over encrypted chat I can share my Signal. I generally prefer Warpcast over Twitter these days.
</BaseLayout>
