---
import '../styles/global.css';

interface Props {
  showHeader?: boolean;
}

const { showHeader = true } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>d1onys1us' website</title>
  </head>
  <body>
    {showHeader && (
      <header>
        <h1>d1onys1us' website</h1>
        <nav>
          <a href="">Home</a>
          <a href="/musings">Musings</a>
        </nav>
      </header>
    )}
    <main>
      <slot />
    </main>
  </body>
</html>
